.main{
    display: flex;
    flex-direction: row;

}
.box1{
    background-color: red;
    width: 300px;
    height: 300px;
    border: 1px solid;
    margin-left: 20px;
}
.box2{
    background-color: #fafafa;
    width: 300px;
    height: 300px;
    border: 2px solid;
    margin-left: 20px;
    
}
.box3{
    background-color: green;
    width: 300px;
    height: 300px;
    border: 3px solid;
    margin-left: 20px;
    
}